# To use your own preferences, make a copy of this file and rename it `mr_pig.preferences.yaml`.





# Which browser would you like to view your site in while you're working?
browser: Google Chrome Canary

# What's your site's local URL (no trailing slash!)?
local_url: http://localhost:8080
